
body {
  margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/background.jpg'); 
  }
.container {
  padding-top: 50px;
   display: grid;
   grid-template-columns: repeat(20,auto);
}

.box{
    width: 45px;
    height: 45px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
  }
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 80px;
  background-color: #dfd3d3;
  box-shadow: 0px 15px 15px rgb(190, 255, 190);
}
.login:hover {
  box-shadow: 0 20px 20px  rgb(143, 146, 143);
  transition-duration: 0.5s;
}
h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;
  font-family: serif;

}
.form {
  display: flex;
  flex-direction: column;
}
form input {
  padding: 10px 50px;
  font-size: x-large;
  border-radius: 5px;
}
form label {
  font-size: 20px;
  padding-top: 20px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
form button {
  padding: 15px 50px ;
  background-color: rgb(8, 185, 8);
  color: white;
  font-size: larger;
  border: none;
  border-radius: 10px;
}
form button:hover {
  background-color: rgb(63, 196, 63);
  cursor: pointer;
  transition-duration: 0.5s ;
}

.btnIndex {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.back {
  color: white;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  width: 80px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.back:hover {
  background-color: #c2c2c2fa;
  transition-duration: 0.5s
}
.again {
  color: white;
  font-size: 20px;
  background-color: rgb(226, 66, 66);
  border: none;
  width: 80px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.again:hover {
  background-color: rgb(219, 68, 68);
  transition-duration: 0.5s;
}

.historique{
  color: white;
  font-size: 20px;
  width: 80px;
  background-color: rgb(50, 47, 235);
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.historique:hover {
  background-color: rgb(57, 87, 223);
  transition-duration: 0.5s;
}

.popup {
  display: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 500px;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(217, 223, 223);
}
.content {
  font-size: 20px;
  font-weight: bolder;
}
.players {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 50px;
  padding-top: 30px;

}
.player1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.p1 {
  background-color: rgb(44, 147, 243);
  padding: 0px 30px;
}
.x {
  background-color: white;
  padding: 0px 30px;
}
.p2 {
  background-color: rgb(241, 87, 87);
  padding: 0px 30px;
}
.o {
  background-color: white;
  padding: 0px 30px;
}
.vs h1{
  font-weight: 50px;
  font-size: 50px;
}
.p1 h1 {
  color: white;
  text-shadow: 
  -2px -2px 0 #000,  
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000; 
}
.p2 h1 {
  color: white;
  text-shadow: 
  -2px -2px 0 #000,  
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000; 
  }